* { box-sizing: border-box; }

body { font-family: 'Arial'; font-size: 14px; line-height: 1.7; }
table { border-spacing: 0; }

#gameOver { color: #FF0000; padding-top: 50px; vertical-align: center; }

.tab-container { margin: 10px 0; width: 640px; }
.tab-container:before, .tab-container:after { content:""; display: block; height: 0; visibility: hidden; }
.tab-container:after { clear: both; }

.tab-container .tab  {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
	float: left;
	font-size:24px;
	margin: 0;
	padding: 3px;
	text-align: center;
	width: 50%;
}

.tab-container .tab.active {
	background-color: #FFFFFF;
	border-bottom: none;
	border-left: 1px solid #AAAAFF;
	border-right: 1px solid #AAAAFF;
	border-top: 1px solid #AAAAFF;
}

.panel-info { padding-left: 10px; vertical-align: top; width: 120px; }
.panel-info table { font-weight: bold; height: 100%; width: 100%; }
.panel-info table td:nth-child(1) {}
.panel-info table td:nth-child(2) { text-align: right; width: 30px; }